[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EpiSignalDetection"]
	path = EpiSignalDetection
	url = https://github.com/eu-ecdc/episignaldetection
[submodule "epitweetr"]
	path = epitweetr
	url = https://github.com/eu-ecdc/epitweetr
	subdir = epitweetr
